* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;

	background: transparent;

	font-family: inherit;

	text-decoration: none;
}

ol,
ul,
li {
	list-style: none;
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

button,
input,
textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

body {
	background-color: #fff;
	color: #fff;
	font-family: "Roboto", sans-serif;
}

.topnav {
	position: fixed;

	width: 100%;
	height: 80px;

	z-index: 20;
	background-color: #fff;
	color: #666;
}

.topnav button.material-icons.md-36 {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 12px;
	right: 12px;

	font-size: 36px;
	color: #fff;
	background-color: #666;
	border-radius: 50px;
}

.topnav span.material-icons.md-36 {
	position: absolute;
	top: 12px;
	left: 12px;

	font-size: 36px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	background-color: #666;
	max-width: 1200px;
	height: 100vh;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 80px;
}

.card {
	position: relative;
	width: 300px;
	height: 350px;
	margin: 30px;
	padding: 40px;

	background-color: #fff;
	border-radius: 2px;

	box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.title {
	color: #666;
	font-size: 18px;
	font-weight: regular;
	text-decoration: underline;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

.text {
	color: #666;
	font-size: 18px;
	text-align: center;
	margin: 10px;
	font-weight: bold;
}

.sub {
	background-color: #666;
	margin: auto;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	font-size: 80px;
	padding-top: 30px;
	padding-left: 50px;
}

.card button {
	position: absolute;
	bottom: -20px;
	left: 65px;
	width: 160px;
	height: 50px;

	color: #666;
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 20px;

	font-size: 14px;

	box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.card button .material-icons.md-36 {
	position: absolute;
	top: 10px;
	right: 7px;
	font-weight: bold;
}
